body{
    background-color: burlywood;
}
h1 {
    text-align: center
}
dl {
    text-align: left;
}
h2 {
    text-align: left;
}
ol {
    text-align: left;
}
p {
    text-align: left;
}
ul {
    text-align: left;
}
a:hover{
    font-size: 50px;
}
